<div class="container mt-3">
  <h1>Alumnos</h1>
   <%= link_to "Refrescar página", root_path, class: "btn btn-light mb-3" %>
  <p>Ultima actualización <%= @last_update %></p>

  <%= link_to "Calcular", students_calculations_path, class: "btn btn-dark mb-3" %>

  <table class="table">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Email</th>
        <th>Progreso Medio</th>
        <th>Nota media</th>
        <th>Graduado en la plataforma</th>
      </tr>
    </thead>
    <tbody>
      <% @students.each do |student| %>
        <tr>
          <td><%= student.name %></td>
          <td><%= student.email %></td>
          <td><%= student.avg_progress.present? ? student.avg_progress : "Sin progreso" %></td>
          <td><%= student.avg_score.present? ? student.avg_score : "Sin notas"%></td>
          <td><%= student.graduate ? "Si" : "No" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to 'Descargar CSV', export_students_csv_path(format: :csv), class: 'btn btn-primary' %>

<h2>Actualizar la información de los cursos de los usuarios </h2>
  <%= form_tag upload_csv_students_path, multipart: true, class: "mb-3" do %>
    <div class="input-group">
      <%= file_field_tag :file, class: "form-control" %>
      <div class="input-group-append">
        <%= submit_tag 'Upload CSV', class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>

</div>
