<h1>Alumnos</h1>
<p>Ultima actaulización <%= @last_update %></p>

  <%= link_to "Calcular", students_calculations_path, class: "btn btn-dark" %>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Email</th>
      <th>Progreso Medio</th>
      <th>Nota media</th>
      <th>Graduado en la plataforma</th>
    </tr>
  </thead>
  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.name %></td>
        <td><%= student.email %></td>
        <td><%= student.avg_progress.present? ? student.avg_progress : "Sin progreso" %></td>
        <td><%= student.avg_score.present? ? student.avg_score.present : "Sin notas"%></td>
        <td><%= student.graduate ? "Si" : "No" %></td>
      </tr>
    <% end %>
  </tbody>
</table>


